<div class="doc_container">

  <div class="doc_icon"></div>
  <div class="doc_thumbnail"></div>
  <div class="doc_name"><%= doc.name %></div>
  <div class="doc_uploaded"><%= doc.updated_at %></div>

</div>