/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600');
@import 'variables.scss';

body {
  background: url("docsbox_bg.png") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 256px 0 256px;
}

.site-header {
  text-align: center;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  padding: 12px 0 72px 0;
}

.search-bar {
  border-radius: 8px;
  color: white;
  background: $search-bar-background;
  border: none;
  text-align: center;
  font-size: x-large;
}

.search-bar::placeholder {
  color: white;
}

.search-bar:focus {
  background: $search-bar-background;
  color: white;
  border: none;
  text-align: center;
}

.hidden {
  display: none;
}