<div class="site-header">

  <div id="doc-search">
    <form method="GET"></form>
        <input id="search-field" class="form-control search-bar" name="query" type="text" placeholder="<%= t('search.placeholder') %>" />
        <button class="hidden" type="submit">
          Search
        </button>
      </div>
    </form>
  </div>


</div>